# Challenge: Airbnb cities

## What's the most expensive listing? What else can you tell me about the listing?

The most expensive listing is a test booking (has a name of 'test do not book') – it is listed as costing $9996/night.

The most expensive real listing is Kevin's 'Cozy One Bedroom by Union Square' in the Downtown/Civic Center area that costs $999/night and has a 1-night minimum stay. The renter has access to the entire home/apartment.

SELECT 
    *
FROM 
    listings
ORDER BY 
    price DESC
LIMIT 
    2

## What neighborhoods seem to be the most popular?

The Mission, Western Addition, and Castro/Upper Market neighborhoods seem to be the most popular, as calculated by each neighborhood's total number of reviews and the number of reviews per month.

SELECT 
    neighbourhood, SUM(number_of_reviews) total_reviews, SUM(reviews_per_month) total_reviews_per_month
FROM 
    listings 
GROUP BY
    neighbourhood
ORDER BY 
    total_reviews DESC, total_reviews_per_month DESC
LIMIT 
    3

## What time of year is the cheapest time to go to your city? What about the busiest?

SELECT 
	strftime('%m', date) month,
    AVG(listings.price) avg_prices
FROM 
	calendar
JOIN 
	listings
ON 
	calendar.listing_id = listings.id
GROUP BY 
    month
ORDER BY 
    avg_prices ASC
LIMIT 1

SELECT 
	strftime('%m', date) month, 
    COUNT(listing_id) num_bookings
FROM 
	calendar
JOIN 
	listings
ON 
	calendar.listing_id = listings.id
GROUP BY 
    month
ORDER BY 
    num_bookings DESC
LIMIT 1