# Capstone Presentation

__First: Go out and find a dataset of interest. It could be from one of our recommended resources, some other aggregation, or scraped yourself. Just make sure it has lots of variables in it, including an outcome of interest to you.__

I will be investigating a Kaggle dataset gathered from a [Speed Dating Experiment](https://www.kaggle.com/annavictoria/speed-dating-experiment). It was compiled by 2 Columbia Business School professors for their paper "Gender Differences in Mate Selection: Evidence From a Speed Dating Experiment", which they wrote in an effort to understand what influences "love at first sight".

Data was gathered from participants in experimental speed dating events from 2002-2004. During the events, the attendees would have a 4-minute "first date" with every other participant of the opposite sex. At the end of their 4 minutes, participants were asked to rate their date on 6 attributes: 
- Attractiveness
- Sincerity
- Intelligence
- Fun
- Ambition
- Shared Interests

They were also asked if they would like to see their date again.

The dataset also includes questionnaire data gathered from participants at different points in the process (i.e. demographics, dating habits, self-perception across key attributes, beliefs on what others find valuable in a mate, and lifestyle information). 

__Second: Explore the data. Get to know the data. Spend time going over its quirks. You should understand how it was gathered, what's in it, and what the variables look like.__

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/speed_dating.csv', encoding = "ISO-8859-1")
print(df.shape[0], 'Rows,', df.shape[1], 'Columns')
df.head()
df[df['wave']==20]['pid']

8378 Rows, 195 Columns

7326    502.0
7327    503.0
7328    504.0
7329    505.0
7330    506.0
7331    507.0
7332    508.0
7333    502.0
7334    503.0
7335    504.0
7336    505.0
7337    506.0
7338    507.0
7339    508.0
7340    502.0
7341    503.0
7342    504.0
7343    505.0
7344    506.0
7345    507.0
7346    508.0
7347    502.0
7348    503.0
7349    504.0
7350    505.0
7351    506.0
7352    507.0
7353    508.0
7354    502.0
7355    503.0
        ...
7380    496.0
7381    497.0
7382    498.0
7383    499.0
7384    500.0
7385    501.0
7386    496.0
7387    497.0
7388    498.0
7389    499.0
7390    500.0
7391    501.0
7392    496.0
7393    497.0
7394    498.0
7395    499.0
7396    500.0
7397    501.0
7398    496.0
7399    497.0
7400    498.0
7401    499.0
7402    500.0
7403    501.0
7404    496.0
7405    497.0
7406    498.0
7407    499.0
7408    500.0
7409    501.0
Name: pid, Length: 84, dtype: float64

In [3]:
def get_col_descriptions(df):
    for col in df.columns:
        print('--', col, '--')
        
        if col != 'iid' and col != 'pid':
            print(len(df[col].unique()), 'Unique values:', df[col].value_counts().sort_index())
        else:
            print(len(df[col].unique()), 'Unique values:', (df[col].unique()))
            
        if df[col].isnull().sum() > 0:
            num_nans = df[col].isnull().sum()
            print('# NaNs:', num_nans, '-', round(num_nans/df.shape[0]*100, 2), '% NaN')
            
        print('\n')

get_col_descriptions(df)

-- iid --
551 Unique values: [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 119 120 121 122 123 124 125 126 127
 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145
 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163
 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181
 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199
 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217
 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235
 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253
 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271
 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289
 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307
 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325
 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343
 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361
 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379
 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397
 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415
 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433
 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451
 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469
 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487
 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505
 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523
 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541
 542 543 544 545 546 547 548 549 550 551 552]


-- id --
23 Unique values: 1.0     552
2.0     552
3.0     541
4.0     547
5.0     547
6.0     552
7.0     505
8.0     505
9.0     479
10.0    480
11.0    382
12.0    382
13.0    357
14.0    372
15.0    348
16.0    319
17.0    253
18.0    237
19.0    178
20.0    160
21.0     86
22.0     43
Name: id, dtype: int64
# NaNs: 1 - 0.01 % NaN


-- gender --
2 Unique values: 0    4184
1    4194
Name: gender, dtype: int64


-- idg --
44 Unique values: 1     277
2     275
3     277
4     275
5     277
6     276
7     276
8     276
9     276
10    276
11    271
12    270
13    253
14    258
15    251
16    252
17    251
18    252
19    242
20    233
21    189
22    193
23    189
24    193
25    179
26    183
27    179
28    183
29    165
30    169
31    150
32    154
33    134
34    135
35    134
36    119
37     99
38     81
39     63
40     63
41     43
42     43
43     22
44     22
Name: idg, dtype: int64


-- condtn --
2 Unique values: 1    1434
2    6944
Name: condtn, dtype: int64


-- wave --
21 Unique values: 1     200
2     608
3     200
4     648
5     190
6      50
7     512
8     200
9     800
10    162
11    882
12    392
13    180
14    720
15    684
16     96
17    280
18     72
19    450
20     84
21    968
Name: wave, dtype: int64


-- round --
15 Unique values: 5       50
6      162
7       42
8       48
9      252
10     880
11     140
14     532
15     450
16     816
18    1350
19     646
20    1160
21     882
22     968
Name: round, dtype: int64


-- position --
22 Unique values: 1     526
2     554
3     554
4     544
5     510
6     544
7     502
8     518
9     502
10    456
11    386
12    386
13    386
14    358
15    330
16    300
17    268
18    268
19    194
20    162
21     86
22     44
Name: position, dtype: int64


-- positin1 --
23 Unique values: 1.0     404
2.0     418
3.0     418
4.0     418
5.0     396
6.0     408
7.0     381
8.0     353
9.0     369
10.0    337
11.0    313
12.0    313
13.0    313
14.0    299
15.0    261
16.0    261
17.0    199
18.0    199
19.0    180
20.0    162
21.0     86
22.0     44
Name: positin1, dtype: int64
# NaNs: 1846 - 22.03 % NaN


-- order --
22 Unique values: 1     551
2     551
3     551
4     551
5     551
6     541
7     514
8     508
9     502
10    474
11    372
12    372
13    372
14    372
15    334
16    304
17    253
18    253
19    178
20    144
21     86
22     44
Name: order, dtype: int64


-- partner --
22 Unique values: 1     551
2     551
3     540
4     546
5     546
6     551
7     514
8     504
9     478
10    479
11    382
12    382
13    357
14    372
15    348
16    319
17    253
18    237
19    178
20    160
21     86
22     44
Name: partner, dtype: int64


-- pid --
552 Unique values: [ 11.  12.  13.  14.  15.  16.  17.  18.  19.  20.   1.   2.   3.   4.
   5.   6.   7.   8.   9.  10.  40.  41.  42.  43.  44.  45.  46.  47.
  48.  49.  50.  51.  52.  53.  54.  55.  21.  22.  23.  24.  25.  26.
  27.  28.  29.  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  66.
  67.  68.  69.  70.  71.  72.  73.  74.  75.  56.  57.  58.  59.  60.
  61.  62.  63.  64.  65.  94.  95.  96.  97.  98.  99. 100. 101. 102.
 103. 104. 105. 106. 107. 108. 109. 110. 111.  76.  77.  78.  79.  80.
  81.  82.  83.  84.  85.  86.  87.  88.  89.  90.  91.  92.  93. 122.
 123. 124. 125. 126. 127. 128. 129. 130. 131. 112. 113. 114. 115. 116.
 117. 119. 120. 121.  nan 137. 138. 139. 140. 141. 132. 133. 134. 135.
 136. 158. 159. 160. 161. 162. 163. 164. 165. 166. 167. 168. 169. 170.
 171. 172. 173. 142. 143. 144. 145. 146. 147. 148. 149. 150. 151. 152.
 153. 154. 155. 156. 157. 184. 185. 186. 187. 188. 189. 190. 191. 192.
 193. 174. 175. 176. 177. 178. 179. 180. 181. 182. 183. 214. 215. 216.
 217. 218. 219. 220. 221. 222. 223. 224. 225. 226. 227. 228. 229. 230.
 231. 232. 233. 194. 195. 196. 197. 198. 199. 200. 201. 202. 203. 204.
 205. 206. 207. 208. 209. 210. 211. 212. 213. 243. 244. 245. 246. 247.
 248. 249. 250. 251. 234. 235. 236. 237. 238. 239. 240. 241. 242. 273.
 274. 275. 276. 277. 278. 279. 280. 281. 282. 283. 284. 285. 286. 287.
 288. 289. 290. 291. 292. 293. 252. 253. 254. 255. 256. 257. 258. 259.
 260. 261. 262. 263. 264. 265. 266. 267. 268. 269. 270. 271. 272. 308.
 309. 310. 311. 312. 313. 314. 315. 316. 317. 318. 319. 320. 321. 294.
 295. 296. 297. 298. 299. 300. 301. 302. 303. 304. 305. 306. 307. 332.
 333. 334. 335. 336. 337. 338. 339. 340. 322. 323. 324. 325. 326. 327.
 328. 329. 330. 331. 361. 362. 363. 364. 365. 366. 367. 368. 369. 370.
 371. 372. 373. 374. 375. 376. 377. 378. 341. 342. 343. 344. 345. 346.
 347. 348. 349. 350. 351. 352. 353. 354. 355. 356. 357. 358. 359. 360.
 397. 398. 399. 400. 401. 402. 403. 404. 405. 406. 407. 408. 409. 410.
 411. 412. 413. 414. 415. 379. 380. 381. 382. 383. 384. 385. 386. 387.
 388. 389. 390. 391. 392. 393. 394. 395. 396. 422. 423. 424. 425. 426.
 427. 428. 429. 416. 417. 418. 419. 420. 421. 440. 441. 442. 443. 444.
 445. 446. 447. 448. 449. 450. 451. 452. 453. 430. 431. 432. 433. 434.
 435. 436. 437. 438. 439. 460. 461. 462. 463. 464. 465. 454. 455. 456.
 457. 458. 459. 481. 482. 483. 484. 485. 486. 487. 488. 489. 490. 491.
 492. 493. 494. 495. 466. 467. 468. 469. 470. 471. 472. 473. 474. 475.
 476. 477. 478. 479. 480. 502. 503. 504. 505. 506. 507. 508. 496. 497.
 498. 499. 500. 501. 531. 532. 533. 534. 535. 536. 537. 538. 539. 540.
 541. 542. 543. 544. 545. 546. 547. 548. 549. 550. 551. 552. 509. 510.
 511. 512. 513. 514. 515. 516. 517. 518. 519. 520. 521. 522. 523. 524.
 525. 526. 527. 528. 529. 530.]
# NaNs: 10 - 0.12 % NaN


-- match --
2 Unique values: 0    6998
1    1380
Name: match, dtype: int64


-- int_corr --
156 Unique values: -0.83     2
-0.73     2
-0.70     2
-0.64     2
-0.63     6
-0.62     4
-0.61     4
-0.59    10
-0.58    10
-0.57    12
-0.56     6
-0.55     4
-0.54     2
-0.52    12
-0.51    12
-0.50    14
-0.49     4
-0.48     6
-0.47    18
-0.46    20
-0.45    10
-0.44     8
-0.43    24
-0.42     8
-0.41    22
-0.40    27
-0.39    22
-0.38    24
-0.37    24
-0.36    32
         ..
 0.60    74
 0.61    50
 0.62    56
 0.63    44
 0.64    56
 0.65    66
 0.66    34
 0.67    30
 0.68    40
 0.69    20
 0.70    18
 0.71    30
 0.72    42
 0.73    32
 0.74    32
 0.75    16
 0.76    18
 0.77    12
 0.78    14
 0.79     8
 0.80    18
 0.81     6
 0.82     4
 0.83    10
 0.84     2
 0.85     8
 0.87     2
 0.88     2
 0.90     4
 0.91     2
Name: int_corr, Length: 155, dtype: int64
# NaNs: 158 - 1.89 % NaN


-- samerace --
2 Unique values: 0    5062
1    3316
Name: samerace, dtype: int64


-- age_o --
25 Unique values: 18.0       9
19.0      19
20.0      54
21.0     289
22.0     651
23.0     894
24.0     863
25.0     837
26.0     869
27.0    1059
28.0     746
29.0     589
30.0     574
31.0     125
32.0     210
33.0     161
34.0     152
35.0      60
36.0      45
37.0       5
38.0      19
39.0      18
42.0      20
55.0       6
Name: age_o, dtype: int64
# NaNs: 104 - 1.24 % NaN


-- race_o --
6 Unique values: 1.0     420
2.0    4722
3.0     664
4.0    1978
6.0     521
Name: race_o, dtype: int64
# NaNs: 73 - 0.87 % NaN


-- pf_o_att --
95 Unique values: 0.00       21
2.00        9
5.00       60
6.67       19
7.00       21
7.50       20
8.00       19
8.33       16
8.51       16
9.00       18
9.09       10
9.52       30
9.76       16
10.00     807
11.11      16
11.36      16
11.54      20
12.00      66
12.24      10
12.77       5
13.04      30
13.21      20
13.51      20
14.00     124
14.29      52
14.55      16
14.58      20
14.71      20
14.89      20
15.00     868
         ...
20.83       5
20.93      10
21.00      20
21.28      20
21.43      20
22.00      58
23.00      43
23.81      20
24.00      35
25.00     818
25.64      20
27.00      21
27.78      16
28.00      14
30.00     679
31.58      20
33.33      10
35.00     212
40.00     356
45.00      28
50.00     300
55.00      16
58.00      22
60.00      57
70.00      40
75.00      38
80.00       9
90.00       9
95.00      18
100.00     10
Name: pf_o_att, Length: 94, dtype: int64
# NaNs: 89 - 1.06 % NaN


-- pf_o_sin --
79 Unique values: 0.00      208
1.00       18
2.00       19
3.00       40
5.00      303
5.13       20
7.00       45
8.00       32
10.00    1034
10.53      20
10.87      16
11.11      20
12.00      19
12.50      16
13.00      14
13.46      40
13.95      16
14.00      67
14.29      16
14.53      20
14.71      20
15.00     973
15.09      10
15.22      16
15.56      20
15.69      20
16.00     155
16.28      35
16.33      16
16.36      36
         ...
19.00      64
19.05      50
19.15      41
19.23      70
19.44      26
19.51      16
19.57      10
20.00    2268
20.41      10
20.45      26
20.83      21
20.93      36
21.00      36
21.28      30
21.74      30
22.00      34
22.50      10
22.73       5
23.00      16
23.08      16
23.81      30
24.00      18
25.00     644
26.00      15
30.00     341
32.00      18
35.00      59
40.00      75
47.00      14
60.00       9
Name: pf_o_sin, Length: 78, dtype: int64
# NaNs: 89 - 1.06 % NaN


-- pf_o_int --
66 Unique values: 0.00       83
1.00       28
2.00        9
5.00       89
8.00       22
10.00     606
11.11      10
14.71      20
15.00     633
15.22      15
15.38      20
15.79      20
16.00     130
16.33      26
16.67      71
16.98      46
17.00      60
17.02      35
17.24      40
17.31      86
17.39      30
17.50      10
17.65      40
17.78      72
17.86      10
18.00     298
18.18      57
18.37      20
18.60      57
18.75      21
         ...
19.44      16
19.51      16
19.57      62
20.00    2711
20.41      16
20.45      26
20.51      16
20.83      52
21.00      57
21.28      40
21.43      36
21.62      20
22.00      34
22.22      36
22.73      16
23.00      34
23.08      20
23.26      30
23.81      40
24.79      20
25.00     988
27.00      18
27.27      10
28.00      62
30.00     649
35.00     135
40.00      69
42.86      14
45.00      31
50.00      48
Name: pf_o_int, Length: 65, dtype: int64
# NaNs: 89 - 1.06 % NaN


-- pf_o_fun --
72 Unique values: 0.00       32
1.00       18
2.00        9
3.00       18
5.00      245
8.00       41
9.52       14
10.00    1177
11.11      10
12.00      88
12.50      20
12.77      20
12.82      20
13.00      22
13.51      20
13.64       5
14.00      58
14.29      10
14.58      16
14.63      16
14.71      20
15.00    1211
15.56      46
15.69      40
16.00     196
16.28      46
16.33      20
16.67     101
16.98      76
17.00     133
         ...
18.60      21
18.75      52
18.87      16
19.00      55
19.05      36
19.15      36
19.23     130
19.57      36
20.00    2233
20.41      16
20.45      16
20.51      20
20.83       5
21.05      20
21.28      20
21.43      16
22.00      66
22.50      30
23.00      54
23.26      20
23.81      20
24.00      18
25.00     568
27.00      20
27.78      16
30.00     296
35.00      29
40.00      40
45.00      10
50.00      20
Name: pf_o_fun, Length: 71, dtype: int64
# NaNs: 98 - 1.17 % NaN


-- pf_o_amb --
83 Unique values: 0.00      825
1.00       46
2.00       63
2.33       20
2.38       20
2.56       16
2.78       16
3.00       76
4.00       21
4.76       20
5.00     1155
5.98       20
6.00       46
6.25        5
6.38       20
6.67        5
7.00       59
8.00      117
9.00       15
9.52       16
9.62       20
10.00    2006
10.26      20
10.53      20
10.87      20
11.00      32
11.11      40
11.36      32
11.54      20
11.63      15
         ...
16.00     169
16.28      36
16.33      16
16.36      36
16.67      82
16.98      46
17.00      61
17.24      20
17.31      46
17.65      20
17.78      36
17.86      10
17.95      20
18.00     147
18.18      20
18.37      36
18.75      16
18.87      36
19.00       9
19.05      16
19.15      16
19.23      40
19.51      16
19.57      16
20.00     515
20.41      10
20.59      20
25.00      37
30.00      18
53.00      10
Name: pf_o_amb, Length: 82, dtype: int64
# NaNs: 107 - 1.28 % NaN


-- pf_o_sha --
86 Unique values: 0.00      713
1.00       55
2.00       19
2.27       10
2.38       20
2.78       16
3.00       22
4.00       22
5.00      950
6.00       18
6.12       16
6.67       16
7.00       15
7.50       10
7.62       14
8.00       91
8.33       16
8.51       20
9.00        6
9.09       10
9.52       16
10.00    2001
10.26      20
10.53      20
10.64      20
10.87      16
11.00      14
11.11      20
11.36      16
11.54      30
         ...
16.33      26
16.36      16
16.67      46
16.98      10
17.00      34
17.07      16
17.09      20
17.24      20
17.31      50
17.39      10
17.78      36
18.00     147
18.18      16
18.52      20
18.75      37
18.92      20
19.00       7
19.15       5
19.23      20
19.57      21
20.00     975
20.51      20
20.59      20
21.00       9
21.28      20
22.00      59
22.22      10
23.81      20
25.00      87
30.00      86
Name: pf_o_sha, Length: 85, dtype: int64
# NaNs: 129 - 1.54 % NaN


-- dec_o --
2 Unique values: 0    4863
1    3515
Name: dec_o, dtype: int64


-- attr_o --
19 Unique values: 0.0        8
1.0      108
2.0      244
3.0      390
3.5        1
4.0      748
5.0     1260
6.0     1655
6.5        7
7.0     1642
7.5        3
8.0     1230
8.5        1
9.0      540
9.5        3
9.9        1
10.0     324
10.5       1
Name: attr_o, dtype: int64
# NaNs: 212 - 2.53 % NaN


-- sinc_o --
15 Unique values: 0.0        9
1.0       38
2.0       75
3.0      134
4.0      278
4.5        1
5.0      699
6.0     1254
7.0     1892
7.5        1
8.0     2045
8.5        2
9.0      929
10.0     734
Name: sinc_o, dtype: int64
# NaNs: 287 - 3.43 % NaN


-- intel_o --
18 Unique values: 0.0        5
1.0       13
2.0       34
2.5        1
3.0       69
4.0      161
5.0      628
5.5        1
6.0     1152
6.5        3
7.0     2021
7.5        4
8.0     2198
8.5        2
9.0     1104
9.5        1
10.0     675
Name: intel_o, dtype: int64
# NaNs: 306 - 3.65 % NaN


-- fun_o --
18 Unique values: 0.0       14
1.0      107
2.0      220
3.0      281
4.0      605
5.0     1157
5.5        2
6.0     1529
6.5        2
7.0     1657
7.5        2
8.0     1453
8.5        1
9.0      600
9.5        1
10.0     386
11.0       1
Name: fun_o, dtype: int64
# NaNs: 360 - 4.3 % NaN


-- amb_o --
16 Unique values: 0.0        5
1.0       42
2.0      101
3.0      172
4.0      361
5.0     1102
5.5        1
6.0     1425
7.0     1679
7.5        2
8.0     1506
8.5        1
9.0      788
9.5        1
10.0     470
Name: amb_o, dtype: int64
# NaNs: 722 - 8.62 % NaN


-- shar_o --
16 Unique values: 0.0       59
1.0      238
2.0      484
3.0      588
4.0      783
5.0     1462
5.5        1
6.0     1247
6.5        2
7.0     1149
7.5        4
8.0      769
8.5        2
9.0      317
10.0     197
Name: shar_o, dtype: int64
# NaNs: 1076 - 12.84 % NaN


-- like_o --
19 Unique values: 0.0        8
1.0      110
2.0      223
3.0      394
4.0      644
4.5        3
5.0     1318
5.5        2
6.0     1708
6.5       20
7.0     1813
7.5        6
8.0     1272
8.5        9
9.0      412
9.5        3
9.7        1
10.0     182
Name: like_o, dtype: int64
# NaNs: 250 - 2.98 % NaN


-- prob_o --
20 Unique values: 0.0       49
1.0      413
1.5        1
2.0      539
3.0      708
3.5        1
4.0      930
4.5        3
5.0     1797
5.5        2
6.0     1395
6.5        6
7.0     1127
7.5        3
8.0      652
8.5        4
9.0      241
9.5        1
10.0     188
Name: prob_o, dtype: int64
# NaNs: 318 - 3.8 % NaN


-- met_o --
8 Unique values: 1.0     350
2.0    7635
3.0       1
5.0       2
6.0       1
7.0       3
8.0       1
Name: met_o, dtype: int64
# NaNs: 385 - 4.6 % NaN


-- age --
25 Unique values: 18.0      10
19.0      20
20.0      55
21.0     291
22.0     655
23.0     894
24.0     863
25.0     837
26.0     869
27.0    1059
28.0     746
29.0     589
30.0     574
31.0     125
32.0     210
33.0     161
34.0     152
35.0      60
36.0      45
37.0       5
38.0      19
39.0      18
42.0      20
55.0       6
Name: age, dtype: int64
# NaNs: 95 - 1.13 % NaN


-- field --
260 Unique values: Acting                                                       22
African-American Studies/History                             15
American Studies                                              9
American Studies (Masters)                                   16
Anthropology                                                  9
Anthropology/Education                                       14
Applied Maths/Econs                                          16
Applied Physiology & Nutrition                               18
Architecture                                                 10
Art Education                                                37
Art History                                                  21
Art History/medicine                                         10
Arts Administration                                           9
BUSINESS CONSULTING                                          20
Bilingual Education                                          14
Biochemistry                                                 70
Biochemistry & Molecular Biophysics                          22
Biology                                                      85
Biology PhD                                                   7
Biomedical Engineering                                       44
Biomedical Informatics                                       22
Biomedical engineering                                       22
Biotechnology                                                15
Business                                                    521
Business & International Affairs                             10
Business (Finance & Marketing)                                6
Business (MBA)                                               77
Business Administration                                      14
Business School                                              21

__Third: Model your outcome of interest. You should try several different approaches and really work to tune a variety of models before using the model evaluation techniques to choose what you consider to be the best performer. Make sure to think about explanatory versus predictive power and experiment with both.__

## Deliverables

Prepare a slide deck and 15 minute presentation that guides viewers through your model. Be sure to cover a few specific things:

- A specified research question your model addresses
- How you chose your model specification and what alternatives you compared it to
- The practical uses of your model for an audience of interest
- Any weak points or shortcomings of your model

You'll be presenting this slide deck live to a group as the culmination of your work in the last 2 supervised learning units. As a secondary matter, your slides and/or the Jupyter notebook you use or adapt them into should be worthy of inclusion as examples of your work product when applying to jobs.